{% extends 'hw2/base.html' %}

{% block title %}Домашнее задание 3{% endblock %}

{% block content %}
    <h1>Домашнее задание , семинар 3</h1>
    <p>Создайте шаблон для вывода всех заказов клиента и списком товаров внутри каждого заказа.</p>
    <p>добавьте в поисковой строке " user/'id' " заказчика</p>
    <br>
    <br>
    <p>Создайте шаблон, который выводит список заказанных клиентом товаров из всех его заказов с сортировкой по времени:</p>
    <p>— за последние 7 дней (неделю)</p>
    <p>— за последние 30 дней (месяц)</p>
    <p>— за последние 365 дней (год)</p>
    <p>добавьте в поисковой строке " user_sorted/'id'/'days' " заказчика</p>

Товары в списке не должны повторятся.
{% endblock %}